* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #F2F2F2;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #868686;
    background-color: rgba(0, 0, 0, 0.5)
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div {
    margin-right: 150px;
}

nav div h4{
    font-weight: 300;
    color:#EDEDED;
    cursor: pointer;
}

nav div h4:hover {
    color: #868686;
}

nav div:last-of-type {
    margin-right: 0;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    height: 85vh;
}

.title-container {
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-container h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #EDEDED;    
    margin-bottom: 30px;
} 

.title-container h3 {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 30px;
    color: #A6A6A6;
}

.image-container-cta {
    height: 500px;
    background-color: #FFF;
    border-radius: 10px;
    cursor: pointer;
}

.image-menu-container {
    padding: 30px;
    width: 50%;
    display: flex;
    align-items: center;
}

.background-image {
    display: block;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5)
}

footer h4 {
    font-weight: 300;
    height: 50px;
    border-top: 1px solid #868686;
    color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
}
