* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #000;
}

.image-background {
    padding: 0 30px;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #868686;
    background-color: rgba(0, 0, 0, 0.5)
}

nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div {
    margin-right: 150px;
}

nav div h4{
    font-weight: 300;
    color:#EDEDED;
    cursor: pointer;
}

nav div h4:hover {
    transition: ease-in-out 0.2s;
    color: #868686;
}

nav div:last-of-type {
    margin-right: 0;
}

.active {
    border-bottom: 1px solid #EDEDED;
}

.active:hover {
    transition: ease-in-out 0.2s;
    border-bottom: 1px solid #868686;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    height: 85vh;
}

.logo-home {
    width: 50%;
    margin: 0 auto;
}

.container-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-container {
    padding: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-menu {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.title-contact {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.title-container h1 {
    font-size: 3rem;
    font-weight: 300;
    color: #EDEDED;    
    margin-bottom: 30px;
} 

.title-container h3 {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 30px;
    color: #A6A6A6;
}

.image-container-cta {
    max-height: 500px;
    width: 100%;
    border-radius: 10px;
}

.image-container-cta img {
    width: 100%;
}

.image-menu-container {
    padding: 30px;
    width: 50%;
    display: flex;
    align-items: center;
}

.background-image {
    position: relative;
    bottom: 0;
    display: block;
    margin: 0 auto;
    height: 100%;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.background-image:hover {
    bottom: 5px;
    transition: ease-in-out 0.2s;
}

.menu-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 50px;
}

.menu-element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

.menu-image {
    display: block;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.element-description {
    color: #EDEDED;
    font-weight: 300;
    text-align: center;
}

.contact-container {
    width: 100%;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.contact-map-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.telephone-container {
    display: flex;
    color: #EDEDED;
    margin: 0 0 20px 30px;
}

.telephone-container i {
    margin-right: 20px;
}

.adress-container {
    display: flex;
    color: #EDEDED;
    margin: 0 0 20px 30px;
} 

.adress-container i {
    margin-right: 20px;
}

.contact-map-image-container img {
    width: 100%;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5)
}

footer h4 {
    font-weight: 300;
    height: 50px;
    border-top: 1px solid #868686;
    color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 710px){
    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        flex-direction: column;
        height: auto;
    }

    .title-container {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }

    .image-menu-container {
        width: 100%;
        height: auto;
    }

    .image-container-cta {
        width: 100%; 
        height: auto;
    }

    .background-image {
        width: 100%;
        height: auto;
    }



    .menu-element-container {
        max-width: 400px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav div {
        margin-right: 0;
    }
}
